.DS_Store
.idea
*.class
room-service/target
room-reservation-service/target
guest-service/target
reservation-service/target
config-server/target
eureka-server/target

docker-dependencies/keycloak/postgres-data